<div id="currency-form">
  <div class="text-currency-form">{{appConstant.introCurrencyCreate}}</div>
  <form [formGroup]="currencyForm">
    <mat-form-field class="max-width">
      <input matInput placeholder="{{appConstant.placeholderCurrencyName}}" formControlName="currencyName" (blur)="emitValidityForm()" required>
      <mat-error *ngIf="currencyName.errors && (currencyName.dirty || currencyName.touched)">
        <span>{{appConstant.errorFieldRequired}}</span>
      </mat-error>
    </mat-form-field>
  </form>
</div>
