#menu-bar {
  display: inline-flex;
  margin-left: 3%;

  .tuile {
    display: inline-flex;
    cursor: pointer;
    color: #68C0FF;
    margin-right: 10%;

    &:hover {
      color: white;
    }

    &.active-link {
      color: #e75112;
    }

    .icon-menu {
      margin-right: 5%;
    }
  }
}
