<div id="person-form">

  <div class="intro-container">
    <span class="currency-name">{{currencyName}}? </span>
    <span class="currency-about-you">{{appConstant.introSentanceCurrency}}</span>
  </div>

  <div class="intro-person">
    <span>{{appConstant.introPersonCreate}}</span>
  </div>

  <div class="sentence-question">
    <span>{{appConstant.introSentence}}</span>
  </div>
  <form [formGroup]="personForm" (ngSubmit)="onSubmitForm(personForm.value)">

    <mat-form-field class="max-width constant-margin">
      <input matInput placeholder="{{appConstant.firstNamePersonCreate}}" type="text" formControlName="firstName" required>
      <mat-error *ngIf="firstName.errors && (firstName.touched || firstName.dirty)">
        <span>{{appConstant.errorFieldRequired}}</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="max-width constant-margin">
      <input matInput placeholder="{{appConstant.lastNamePersonCreate}}" type="text" formControlName="lastName" required>
      <mat-error *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
        <span>{{appConstant.errorFieldRequired}}</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="max-width constant-margin">
      <input matInput placeholder="{{appConstant.emailPersonCreate}}" type="text" formControlName="email" required>
      <mat-error *ngIf="email.errors && (email.dirty || email.touched)">
        <span [hidden]="!email.hasError('required')">{{appConstant.errorFieldRequired}}</span>
        <span [hidden]="email.hasError('required') && !email.hasError('email')">{{appConstant.wrongEmailFormat}}</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="max-width constant-margin">
      <input matInput [matDatepicker]="picker" placeholder="{{appConstant.birthdayPerson}}" formControlName="birthday" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker touchUi="true"></mat-datepicker>
    </mat-form-field>

    <button class="submit-form" mat-raised-button color="primary" [disabled]="!personForm.valid">{{appConstant.labelButttonFinish}}</button>

  </form>
</div>
