<div id="person-form">

  <div class="intro-container">
    <span class="currency-name">{{currencyName}}? </span>
    <span class="currency-about-you">{{appConstant.introSentanceCurrency}}</span>
  </div>

  <div class="intro-person">
    <span>{{appConstant.introPersonCreate}}</span>
  </div>

  <div class="sentence-question">
    <span>{{appConstant.introSentence}}</span>
  </div>
  <form #personForm="ngForm" (ngSubmit)="onSubmitForm(personForm.value)">

    <mat-form-field class="max-width constant-margin">
      <input matInput placeholder="{{appConstant.firstNamePersonCreate}}" type="text" name="firstName" ngModel #firstName="ngModel"
        required>
      <mat-error *ngIf="firstName.errors && (firstName.touched || firstName.dirty)">
        <span>{{appConstant.errorFieldRequired}}</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="max-width constant-margin">
      <input matInput placeholder="{{appConstant.lastNamePersonCreate}}" type="text" name="lastName" ngModel #lastName="ngModel"
        required>
      <mat-error *ngIf="lastName.errors && (lastName.touched || lastName.dirty)">
        <span>{{appConstant.errorFieldRequired}}</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="max-width constant-margin">
      <input matInput placeholder="{{appConstant.emailPersonCreate}}" type="text" name="email" ngModel #email="ngModel" email required>
      <mat-error *ngIf="email.errors && (email.touched || email.dirty)">
        <span [hidden]="!email.errors.email">{{appConstant.errorValidEmail}}</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="max-width constant-margin">
      <input matInput [matDatepicker]="picker" placeholder="{{appConstant.birthdayPerson}}" name="birthday" ngModel #birthday="ngModel" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="birthday.errors && (birthday.touched || birthday.dirty)">
        <span>{{appConstant.errorFieldRequired}}</span>
      </mat-error>
    </mat-form-field>

    <button class="submit-form" mat-raised-button color="primary" [disabled]="!personForm.form.valid">{{appConstant.labelButttonFinish}}</button>

  </form>
</div>
