<div id="currency-summury" class="max-size" *ngIf="currencyObservable | async as currency">
  <div class=container-card>
    <mat-card>
      <div class="container-information max-size">
        <div class="container-image max-size">
          <div class="max-width image">
            <img class="image" src="assets/picture/summury-picture.png">
          </div>
        </div>
        <div class="container-currency max-size">
          <div class="title">
            <span>{{appConstant.detailCurrencyTitle}}</span>
          </div>
          <div class="informations max-size">
            <div class="user-informations max-height">
              <div class="information-title">
                {{appConstant.userInformationTitle}}
              </div>
              <div class="block-information max-height">
                <div class="container-row max-width">
                  <div class="row-information">
                    <span class="label">{{appConstant.firstNamePersonCreate}}:</span>
                    <span>{{currency.owner.firstName}}</span>
                  </div>
                  <div class="row-information">
                    <span class="label">{{appConstant.lastNamePersonCreate}}:</span>
                    <span>{{currency.owner.lastName}}</span>
                  </div>
                  <div class="row-information">
                    <span class="label">{{appConstant.emailPersonCreate}}:</span>
                    <span>{{currency.owner.email}}</span>
                  </div>
                  <div class="row-information">
                    <span class="label">{{appConstant.birthdayPerson}}:</span>
                    <span>{{currency.owner.birthday | date}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="currency-informations max-height">
              <div class="information-title">
                {{appConstant.currencyInformationTitle}}
              </div>
              <div class="block-information special max-height">
                <div class="container-row max-width">
                  <div class="row-information">
                    <span class="label">{{appConstant.placeholderCurrencyName}}:</span>
                    <span>{{currency.name}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-navigation">
        <button class="right" mat-raised-button (click)="navigationToCurrencyList()">{{appConstant.ok}}</button>
      </div>
    </mat-card>
  </div>
</div>
