#currency-summury {
  display: flex;
  justify-content: center;


  .container-card {
    width: 50%;
    height: 50%;
    margin: auto;

    .container-information {
      display: flex;
      flex-direction: row
    }

    .container-image {
      width: 20%;
      display: flex;
      margin: auto;
      height: 50%;

      .image {
        img {
          width: 100%;
          height: 80%;
        }
      }
    }
  
    .container-currency {
      width: 90%;
      display: flex;
      flex-flow: column;

      .title {
        text-align: center;
        font-weight: bold;
        margin-bottom: 10%;
        font-size: 20px;
      }

      .informations {
        flex: 2;
        display: flex;
        flex-direction: row;

        .information-title {
          font-size: 18px;
          margin-bottom: 10%;
          padding-left: 10%
        }


        .block-information {
          flex: 2;

          &.special {
            margin-top: 13%;
          }
         
        }
        .row-information {
          padding-left: 10%;
          margin-bottom: 5%;

          .label {
            margin-right: 2%;
            font-weight: bold;
          }
        }

        .user-informations {
          width:70%;
          display: flex;
          flex-direction: column;
        
        }
        .currency-informations {
          width: 30%;
          display: flex;
          flex-direction: column
        }
      }
    }
  }
}