<div id="create-currency" class="max-size">
  <div class="container-card">
    <mat-card class="card-currency-creation">
      <mat-card-content>
        <mat-horizontal-stepper [linear]="true" #currencyStepper="matHorizontalStepper">
          <mat-step [completed]="currencyFormValidity">
            <ng-template matStepLabel>{{appConstant.currencyStepOne}}</ng-template>
            <dcs4u-currency-creation-currency-form #currency (validityFormEmitter)="updateValidityForm($event)"></dcs4u-currency-creation-currency-form>
            <button class="button-step" mat-raised-button matStepperNext>Next</button>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>{{appConstant.currencyStepTwo}}</ng-template>
            <dcs4u-currency-creation-person-form [currencyName]="valueFormCurrency.name"></dcs4u-currency-creation-person-form>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>
